@layer base {
  html {
    font-size: var(--font-size-fix);
    font-size: var(--font-size);
  }

  body {
    @apply relative min-h-screen bg-c9;
    color: var(--text-color);
  }

  .section {
    @apply m-auto px-1 py-2;

    @media (--medium-up) {
      @apply px-2 py-4;
    }
  }

  h1 { @apply text-4xl mb-2; }
  h2 { @apply text-3xl; }
  h3 { @apply text-2xl; }
  h4 { @apply text-xl; }
  h5 { @apply text-lg; }
}
