html {
  font-size: var(--font-size-fix);
  font-size: var(--font-size);
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background: var(--c9);
  color: var(--text-color);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.section {
  margin: auto;
  padding: 2rem 1rem;

  @media (--medium-up) {
    padding: 4rem;
  }
}

h1 { font-size: 2.25rem; margin-bottom: 0.5rem; }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}


a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--highlight);
  text-underline-offset: 3px;
}