---
import NavItem from "./NavItem.astro";
import type { LocaleNavItem } from "../../types/NavItem";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import type { Language } from "../../types/Language";

interface Props {
    className: string,
    navItems: LocaleNavItem[],
    lang: Language["key"],
};

const { className, navItems, lang } = Astro.props;
---

<nav class="navbar">
    <ul>
        {navItems.map(item => (
            <NavItem navItem={item} />
        ))}
        <li><LanguageSwitcher currentLang={lang} /></li>
    </ul>
</nav>


<style lang="scss" scoped>
    .navbar {
        ul {
            list-style: none;
            display: flex;
            gap: .5em;
            justify-content: flex-end;
        }
    }
</style>
