---
import FlipCard from "./FlipCard.astro";

const { skill } = Astro.props;
---

<FlipCard className="circle-element circle">
  <div class="flip-card-front-inner" slot="front">
    {skill}
  </div>

  <div class="flip-card-back-inner" slot="back">
    todo
  </div>
</FlipCard>