@use "../variables";

.section {
  background:linear-gradient(180deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
  border-bottom: 1px solid var(--color-coral);

  .section__content {
    max-width: 45rem;
    margin: auto;
  }
}
.section--dark {
  background:var(--c9); color:var(--text-color-inv);
}

.section--no-gradient {
    background: var(--gradient-color-1);
}

.ul-orange {
    padding-left: 1em;
    list-style: '> ';

    li::marker {
      color: var(--highlight);
    }
}

.section--no-border {
  border: none;
}

.section.section--header,
.section.section--footer {
  @extend .section--dark;
  padding: 1rem;
  
  @media (--medium-up) {
    padding: 1rem 2rem;
  }
}

.section--section-header,
.section--experience-header {
  @extend .section--no-gradient;

  padding-bottom: 0;
}

.section--section-header,
.section--experience-header,
.section--experience,
.section.section--footer {
  @extend .section--no-border;
}

.section--profile {
  @extend .section--dark;
}

.section--experience {
  @extend .section--no-gradient;
  padding: 0;

  & > .section__content {
      max-width: none;
  }

  ul.description {
    @extend .ul-orange;
  }

  ul.technologies {
    li {
      display: inline;
    }
    li + li:before {
      content: ', ';
    }
  }
}
.section--experience-header + .section--experience-entry,
.section.post-content {
  padding-top: 1rem; /* kleiner machen */
}

.section--experience-header {
  h2 {
    margin-bottom: 0;
  }
}