.section {
  background:linear-gradient(180deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
  border-bottom: 1px solid var(--color-coral);
}

.section .section__content {
  max-width: 45rem;
  margin: auto;
}

.section--dark {
  background:var(--c9);
  color:var(--text-color-inv);
}

.section--no-gradient {
  background: var(--gradient-color-1);
}

.ul-orange {
  padding-left: 1em;
  list-style: '> ';
}

.ul-orange li::marker {
  color: var(--highlight);
}

.section--no-border {
  border: none;
}

.section.section--header,
.section.section--footer {
  background:var(--c9);
  color:var(--text-color-inv);
  padding: 1rem;
}

@media (--medium-up) {
  .section.section--header,
  .section.section--footer {
    padding: 1rem 2rem;
  }
}

.section--section-header,
.section--experience-header {
  background: var(--gradient-color-1);
  padding-bottom: 0;
}

.section--section-header,
.section--experience-header,
.section--experience,
.section.section--footer {
  border: none;
}

.section--profile {
  background:var(--c9);
  color:var(--text-color-inv);
}

.section--experience {
  background: var(--gradient-color-1);
  padding: 0;
}

.section--experience > .section__content {
  max-width: none;
}

.section--experience ul.description {
  padding-left: 1em;
  list-style: '> ';
}

.section--experience ul.description li::marker {
  color: var(--highlight);
}

.section--experience ul.technologies li {
  display: inline;
}

.section--experience ul.technologies li + li:before {
  content: ', ';
}

.section--experience-header + .section--experience-entry,
.section.post-content {
  padding-top: 1rem; /* kleiner machen */
}

.section--experience-header h2 {
  margin-bottom: 0;
}
