@use "../variables";


body {
  font-size: max(14px,2vmin);
}

.btn{
  background:var(--c8);
  color:var(--text-color);
  border-radius:999px;
  padding:.7rem 1.2rem;
}
.btn--ghost{
  background:transparent;
  border:1px solid rgba(255,255,255,.6);
}

/*
  * about
  */
.section--about {
  background:linear-gradient(180deg, white 0%, var(--c1) 100%);

  .section__content {
    display: flex;
    gap: calc(var(--spacing) * 2);
    align-items: center;
  }

  .section__image {
    width: 40%;
  }

  .section__text {
    font-size: 2vmin;
    // line-height: 1.5rem;

    p {
      vertical-align: middle;
    }

    strong {
      font-size: 8vmin;
      display: block;
      float: left;
      line-height: .6em;
      margin-right: .5vmin;
    }
  }
}